<div fxLayout="row" fxLayoutAlign="center center">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register_form">
        <div fxLayout="column">
            <mat-form-field>
                <input matInput placeholder="First Name" formControlName="FirstName">
                <mat-error *ngIf="registerForm.get('FirstName').errors?.required">
                    First Name is required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Last Name" formControlName="LastName">
                <mat-error *ngIf="registerForm.get('LastName').errors?.required">
                    Last Name is required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Login" formControlName="Login">
                <mat-error *ngIf="registerForm.get('Login').errors?.required">
                    Login is required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="Email">
                <mat-error *ngIf="registerForm.get('Email').errors?.required">
                    Email is required
                </mat-error>
                <mat-error *ngIf="registerForm.get('Email').errors?.email">
                    Email is not valid
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Password" formControlName="Password">
                <mat-error *ngIf="registerForm.get('Password').errors?.required">
                    Password is required
                </mat-error>
                <mat-error *ngIf="registerForm.get('Password').errors?.minlength">
                    password must not be less than {{ registerForm.get('Password').errors?.minlength.requiredLength }}
                    characters. <br />
                    Now password consists of {{ registerForm.get('Password').errors?.minlength.actualLength }} characters
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 15px;">
            <div *ngIf="!isProgress">
                <button mat-button [disabled]="isProgress">Register</button>
                <a [routerLink]="['/login']">Cancle</a>
            </div>
            <mat-spinner *ngIf="isProgress" mode="indeterminate" diameter="40"></mat-spinner>
        </div>
    </form>
</div>