<div fxLayout="row" fxLayoutAlign="center center">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login_form">
        <div fxLayout="column">
            <mat-form-field>
                <input matInput placeholder="Username" formControlName="Login">
                <mat-error *ngIf="loginForm.get('Login').errors?.required">
                    Login is required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Password" formControlName="Password">
                <mat-error *ngIf="loginForm.get('Password').errors?.required">
                    Password is required
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div *ngIf="!isProgress">
                <button mat-button [disabled]="isProgress">Login
                    <span *ngIf="isProgress" class="spinner-border spinner-border-sm mr-1"></span>
                </button>
                <a [routerLink]="['/register']">Registration</a>
            </div>
            <mat-spinner *ngIf="isProgress" mode="indeterminate" diameter="40"></mat-spinner>
        </div>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    </form>
</div>

