<div fxLayout="row" fxLayoutAlign="space-between start" class="add-accountant">
    <h1 mat-dialog-title>Add Accountant</h1>
    <i class="material-icons close-dialog" [mat-dialog-close]>clear</i>
</div>
<div mat-dialog-content>
    <div fxLayout="row" fxLayoutAlign="center center">
        <form [formGroup]="addAccountantForm" (ngSubmit)="onSubmit()" class="add-accountant_form">
            <div fxLayout="column">
                <mat-form-field>
                    <input matInput placeholder="Number" formControlName="number">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Balance" formControlName="balance">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="end center">
                <button mat-button [disabled]="loading">Add</button>
            </div>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        </form>
    </div>
</div>