<div fxLayout="row" fxLayoutAlign="space-between start">
    <h1 mat-dialog-title>Edit User</h1>
    <i class="material-icons close-dialog" [mat-dialog-close]>clear</i>
</div>
<div mat-dialog-content>
    <div fxLayout="row" fxLayoutAlign="center center">
        <form [formGroup]="editRoleForm" (ngSubmit)="onSubmit()" class="edit-user_form">
            <div fxLayout="column">
                <mat-form-field>
                    <input matInput placeholder="First Name" formControlName="firstName">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Last Name" formControlName="lastName">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Login" formControlName="login">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="end end">
                <div>
                    <button mat-button>Save</button>
                </div>
            </div>
        </form>
    </div>
</div>