<mat-toolbar class="toolbar">
    <div fxLayout="row" fxFlexFill fxLayoutAlign="space-between center">
        <div>
            Accountant
        </div>
        <div *ngIf="currentUser != null">
            <button mat-button [matMenuTriggerFor]="beforeMenu">{{ currentUser.firstName + ' ' + currentUser.lastName }}</button>
            <mat-menu #beforeMenu="matMenu" xPosition="before">
                <button mat-menu-item (click)="editUser()">Profile</button>
                <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>