<app-table [templateRef]="template" 
           [columns]="columns" 
           [tableData]="tableData"
           (onChanged)="updateData($event)">

    <ng-template #template let-row="row">
        <button mat-icon-button color="primary" (click)="editUserRoles(row)">
            <mat-icon>edit</mat-icon>
         </button>
     </ng-template>

</app-table>