<div>
    <button mat-button (click)="AddAccountant()">Add Accountant</button>
    <div class="transactions-table">
        <app-table [columns]="columns" 
                   [tableData]="tableData" 
                   (onChanged)="updateData($event)">
        </app-table>
    </div>
</div>