<mat-tab-group>
    <ng-container *ngIf="getRoleAcces.includes('user')">
        <mat-tab label="Accountants">
            <app-accountants></app-accountants>
        </mat-tab>
        <mat-tab label="Transactions">
            <app-transactions></app-transactions>
        </mat-tab>
    </ng-container>

    <ng-container *ngIf="getRoleAcces.includes('admin')">
        <mat-tab label="Users">
            <app-users></app-users>
        </mat-tab>
    </ng-container>
</mat-tab-group>