<div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
    <div fxLayout="row" fxLayoutAlign="start start" fxFlexFill>
        <div fxFlex="80">
            <ngx-charts-pie-chart [view]="view"
                                    [scheme]="colorScheme"
                                    [results]="single"
                                    [legend]="showLegend"
                                    [explodeSlices]="explodeSlices"
                                    [labels]="showLabels"
                                    [doughnut]="doughnut"
                                    [gradient]="gradient"
                                    (select)="onSelect($event)">
            </ngx-charts-pie-chart>
        </div>
        <div fxFlex="20" [formGroup]="filterForm">
            <button mat-button (click)="AddTransaction()">Add Transaction</button> <br />

            <mat-form-field>
                <mat-label>Accountant</mat-label>
                <mat-select (selectionChange)="changeAccountant($event)" 
                            formControlName="accountantId">
                    <mat-option *ngFor="let accountant of accountants" 
                                [value]="accountant.id">
                        {{ accountant.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Transaction Type</mat-label>
                <mat-select (selectionChange)="changeTransactionType($event)" 
                            formControlName="transactionType">
                    <mat-option *ngFor="let transactionType of transactionTypes" 
                                [value]="transactionType.value">
                        {{ transactionType.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- <mat-form-field *ngIf="filterForm.get('transactionType').value">
                <mat-label>Expenses Type</mat-label>
                <mat-select (selectionChange)="changeExpensesType($event)" 
                            formControlName="expensesTypeId">
                    <mat-option *ngFor="let expensesType of expensesTypes" 
                                [value]="expensesType.id">
                        {{ expensesType.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->

            <mat-form-field>
                <mat-label>Date Filter</mat-label>
                <mat-select (selectionChange)="changeDate($event)" 
                            formControlName="date">
                    <mat-option *ngFor="let date of dates" 
                                [value]="date.value">
                        {{ date.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="transactions-table">
        <app-table [columns]="columns" 
                   [tableData]="tableData" 
                   (onChanged)="updateData($event)">
        </app-table>
    </div>
</div>