<header>
    <app-toolbar></app-toolbar>
</header>
<main>
    <div fxLayout="row" fxFlexFill fxLayoutAlign="center">
        <div fxLayoutAlign="center" style="padding-top: 100px; width: 100%; height: 100%;">
            <mat-card class="main__content" [@loginAnimation]="currentUser != null ? 'full' : 'pull'">
                <router-outlet></router-outlet>
            </mat-card>
        </div>
    </div>
</main>