main {
    background-image: url('../../assets/1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: calc(100% - 64px);
}

.main__content {
    height: calc(100% - 32px);
    width: 100%;
}