<div fxLayout="row" fxLayoutAlign="space-between start">
    <h1 mat-dialog-title>Edit User Roles</h1>
    <i class="material-icons close-dialog" [mat-dialog-close]>clear</i>
</div>
<div mat-dialog-content>
    <div fxLayout="row" fxLayoutAlign="center center">
        <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()" class="edit-user_form">
            <div fxLayout="column">
                <mat-form-field>
                    <input matInput fxFlex="30" placeholder="First Name" formControlName="firstName" readonly>
                </mat-form-field>
                <mat-form-field>
                    <input matInput fxFlex="30" placeholder="Last Name" formControlName="lastName" readonly>
                </mat-form-field>
                <mat-form-field>
                    <input matInput fxFlex="30" placeholder="Email" formControlName="email" readonly>
                </mat-form-field>

                <mat-form-field class="example-chip-list">
                    <mat-chip-list #chipList aria-label="Role selection">
                        <mat-chip *ngFor="let role of userRoles" [selectable]="selectable" [removable]="removable"
                            (removed)="remove(role)">
                            {{role.name}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Add role..." #roleInput formControlName="roleCtrl" [matAutocomplete]="auto"
                            [matChipInputFor]="chipList">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let role of allRoles" [value]="role">
                            {{role.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

            </div>
            <div fxLayout="row" fxLayoutAlign="end center">
                <button mat-button>Save</button>
            </div>
        </form>
    </div>
</div>