<div fxLayout="row" fxLayoutAlign="space-between start" class="add-transaction">
    <h1 mat-dialog-title>Add Transaction</h1>
    <i class="material-icons close-dialog" [mat-dialog-close]>clear</i>
</div>
<div mat-dialog-content>
    <div fxLayout="row" fxLayoutAlign="center center">
        <form [formGroup]="addTransactionForm" (ngSubmit)="onSubmit()" class="add-transaction_form">
            <div fxLayout="column">
                <mat-form-field>
                    <input matInput placeholder="Size" formControlName="size">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Transaction Type</mat-label>
                    <mat-select formControlName="transactionType">
                        <mat-option *ngFor="let transactionType of transactionTypes" 
                                    [value]="transactionType.value">
                            {{ transactionType.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="addTransactionForm.get('transactionType').value">
                    <mat-label>Expenses Type</mat-label>
                    <mat-select formControlName="expensesType">
                        <mat-option *ngFor="let expensesType of expensesTypes" 
                                    [value]="expensesType.id">
                            {{ expensesType.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <div fxLayout="row" fxLayoutAlign="end center">
                <button mat-button [disabled]="loading">Add</button>
            </div>
        </form>
    </div>
</div>