@import '~@angular/material/theming';
@include mat-core();

$jwt-primary: mat-palette($mat-indigo);
$jwt-accent: mat-palette($mat-pink, A200, A100, A400);
$jwt-warn: mat-palette($mat-red);
$jwt-theme: mat-light-theme($jwt-primary, $jwt-accent, $jwt-warn);

@include angular-material-theme($jwt-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    background: rgba($color: #777, $alpha: 1.0);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.close-dialog {
    margin-top: 4px;
    cursor: pointer;
}

a {
    cursor: pointer;
}