.search-panel {
    padding: 10px 10px;
}

table {
    width: 100%;
    max-height: 50px;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-select-panel {
    min-width: 100px !important;
}

.table-loader {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 25px;
}

.mat-form-field mat-form-field {
    width: 100%;
}