<div class="mat-elevation-z8">
    <div class="search-panel">
        <mat-form-field>
            <input matInput type="text" 
                    (keyup)="searchTermChange()" 
                    placeholder="Search" 
                    [(ngModel)]="searchTerm">
            <button mat-button *ngIf="searchTerm" 
                    mat-icon-button 
                    (click)="searchTermClear()"
                    matSuffix aria-label="Clear">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <table mat-table matSort [dataSource]="dataSource">

        <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.header }} </th>
            <td mat-cell *matCellDef="let row">
                <ng-container *ngIf="!column.template">{{ column.cell(row) }}</ng-container>
                <ng-container *ngIf="column.template">
                    <ng-container *ngTemplateOutlet="templateRef; context: { row: this.row }"></ng-container>
                </ng-container>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div *ngIf="loading" class="table-loader">
        <mat-spinner mode="indeterminate" diameter="40"></mat-spinner>
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [length]="length"></mat-paginator>
</div>